app = "artbazarbot"
primary_region = "iad"

[build]

[env]
PYTHONUNBUFFERED = "1"

[experimental]
auto_rollback = true

# ------------------------
# Определяем процессы (в приложении есть процесс "app")
# ------------------------
[processes]
app = "python main.py"

# ------------------------
# Сервис, который слушает порт (для webhook Telegram)
# ------------------------
[[services]]
internal_port = 8080
processes = ["app"]
protocol = "tcp"

  [[services.ports]]
  port = 80
  handlers = ["http"]

  [[services.ports]]
  port = 443
  handlers = ["tls", "http"]

  [[services.tcp_checks]]
  interval = "10s"
  timeout = "2s"
  grace_period = "20s"
  restart_limit = 6
