app = "artbazarbot"
primary_region = "iad"

kill_signal = "SIGINT"
kill_timeout = "5s"
auto_start = true
auto_stop = false

[env]
PORT = "8080"

[processes]
app = "python main.py"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_start_machines = true
  auto_stop_machines = false

  [[services.ports]]
      port = 8080
