app = "artbazarbot"
primary_region = "iad"

kill_signal = "SIGINT"
kill_timeout = "5s"

# НЕ ДАЁМ МАШИНЕ УСНУТЬ
auto_stop = false
auto_start = true

[env]
PORT = "8080"

[processes]
app = "python main.py"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = false
  auto_start_machines = true

  [[services.ports]]
    port = 8080
