app = "artbazarbot"
primary_region = "ams" # Или ваш регион (например, fra, iad)

[build]

[env]
  PORT = "8080"
  WEBHOOK_HOST = "https://artbazarbot.fly.dev"
  WEBHOOK_PATH = "/webhook"
  WEBHOOK_URL = "https://artbazarbot.fly.dev/webhook"

# Используем http_service для автоматической настройки HTTPS (порты 80 и 443)
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
